.each-job-container {
  margin: 10px;
  padding: 10px;
  background-color: #202020;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  font-family: 'Roboto';
  width: 800px;
  font-size: 14px;
}
.logo-title-container {
  display: flex;
}

.company-logo {
  height: 60px;
  width: 55px;
  margin-right: 10px;
}
.title-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}
.job-title {
  color: #ffffff;
  font-weight: 400;
  font-size: 22px;
}
.rating-container {
  display: flex;
  align-items: center;
  margin: 0px;
}
.rating {
  color: #ffffff;
  font-size: 17px;
}
.job-details-container {
  display: flex;
  justify-content: space-between;
}
.location-text {
  margin-right: 8px;
}
.job-type {
  margin: 5px;
}
.salary {
  margin-left: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.job-location-container {
  display: flex;
  align-items: center;
}
.star {
  color: #fbbf24;
  margin-right: 3px;
}
.location {
  color: #ffffff;
}
.job-type {
  color: #ffffff;
}
