.container {
  background-color: #000000;
  padding: 30px;
  font-family: 'Roboto';
  color: #ffffff;
  font-size: 14px;
}

.job-item-details-container {
  padding: 10px;
  background-color: #202020;
  color: #ffffff;
  border-radius: 15px;
  font-weight: 400;
}
.logo-title-container {
  display: flex;
}
.company-logo {
  height: 40px;
  width: 35px;
  margin-right: 10px;
}
.title-rating-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.job-title {
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
}
.rating-container {
  display: flex;
}
.rating {
  color: #ffffff;
  font-size: 17px;
}
.job-details-container {
  display: flex;
  justify-content: space-between;
}
.location {
  margin-right: 8px;
}
.job-type {
  margin: 5px;
}
.salary {
  margin-left: 100px;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
}
.job-location-container {
  display: flex;
  align-items: center;
}
.each-skill-container {
  display: flex;
  width: 50vw;
  list-style-type: none;
  flex-wrap: wrap;
}
.skills {
  font-size: 20px;
  font-weight: 400;
}
.life-at-company-description-container {
  display: flex;
  justify-content: space-between;
}
.life-at-company-head {
  font-size: 20px;
  font-weight: 400;
}
.life-at-company-description {
  font-size: 15px;
}
.similar-jobs-container {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}
.star {
  color: #fbbf24;
  margin-right: 5px;
}
.failure-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.failure-img {
  height: 150px;
  width: 150px;
}
.jobs-failure-heading {
  font-weight: 500;
  font-size: 20px;
}
.jobs-failure-para {
  font-weight: 400;
  font-size: 15px;
}
.retry-button {
  background-color: #4f46e5;
  color: #ffffff;
  border-width: 0px;
  border-radius: 6px;
}
.description-heading-container {
  display: flex;
  justify-content: space-between;
}
.arrow-icon {
  color: #6366f1;
  margin-left: 4px;
}
.anchor-element-container {
  display: flex;
  align-items: center;
}
